<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>View Appointments</title>
<link
	href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
	rel="stylesheet">
<link rel="canonical"
	href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>

<style>
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
	padding-top: 3.5rem;
	background: #1f4287;
	font-family: 'Poppins', sans-serif;
}

.div1 {
	background: #21e6c1;
}

.jumbotron {
	/*  background: #3aaf9f; */
	background: #278ea5;
}

.btn {
	background: #071e3d;
}

.wave {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}
</style>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand">JuicePet</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="nav navbar-nav mr-auto">
				<!-- <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li> -->
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/user}">Book
						Appointment</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user"></i> Profile
				</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-info"
						aria-labelledby="navbarDropdownMenuLink-4">
						<a class="dropdown-item" th:href="@{/update-profile}">My
							account</a> <a class="dropdown-item" th:href="@{/logout}">Log out</a>
					</div></li>
			</ul>
		</div>
	</nav>
	<img class="wave" src="../static/images/wave.png"
		th:src="@{/images/wave.png}">
	<main role="main" class="container">
		<br>
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3">View Appointments Here!</h1>
				<br>
				<hr style="background: #f0f0f0;">
				<table class="table table-light">
					<thead class="table-dark">
						<tr>
							<th>Appointment Date</th>
							<th>Appointment Time</th>
							<th>Breed</th>
							<th>Services</th>
						</tr>
					</thead>
					<tr th:each="user : ${userList}">
						<td th:text="${user.appointmentDate}">Appointment Date</td>
						<td class="aptTime" th:text="${user.appointmentTime}">Appointment
							Time</td>
						<td th:text="${user.breed}">Breed</td>
						<td th:text="${user.services}">Services</td>
					</tr>
				</table>
			</div>
		</div>
		<br>

	</main>
	<script>				
				const allTime = document.getElementsByClassName("aptTime");
				const tConvert = time => {
			        // Check correct time format and split into components
			        time = time.toString().match(/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

			        if (time.length > 1) { // If time format correct
			            time = time.slice(1); // Remove full string match value
			            time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
			            time[0] = +time[0] % 12 || 12; // Adjust hours
			        }
			        return time.join(''); // return adjusted time or original string 
			    }
				for(e in allTime){
					allTime[e].innerText = tConvert(allTime[e].innerText);
				}
	</script>
<footer class="container">
	<p class="text-light">&copy; Juicepet 2020-2021</p>
</footer>
</body>
</html>
